* {
    font-family: 'Saira', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    transition: .3s ease;
    z-index: 1;
}
body {
    font-family: 'Saira', Arial, sans-serif;
    background-color: rgb(11, 11, 11);
    
}

.centralizer {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.header-section {
    background-color: rgb(11, 11, 11);
    box-shadow: rgba(61, 61, 61, 0.25) 0px 4px 4px;
    position: fixed;
    width: 100%;
    padding: 1rem 0; /* padding para visibilidade */
    top: 0;
    z-index: 1000; /* Ajuste conforme necessário (valor maior do que o z-index de .Links) */
}

span {
    color: rgb(0, 173, 111);
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
}
.brand {
    cursor: pointer;
    margin-top: 0px;
    font-weight: lighter;
    margin-left: 0px;
}
.brand a {
    font-size: 2rem; /* ou o tamanho desejado para o texto M.B DEV */
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Links {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;
    z-index: 2; /* Ajuste conforme necessário */
    transition: color 0.3s ease; /* Adiciona uma transição para a mudança de cor */
}

.Links::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px; /* Ajuste a altura conforme desejado */
    bottom: -1px; /* Ajuste para descer a linha um pouco mais */
    left: 0;
    background: linear-gradient(to right, transparent, rgb(0, 173, 111), transparent);
    transition: width 0.3s ease;
    z-index: 100; /* Ajuste para colocar a linha sobreposta ao texto */
}

.Links:hover::before {
    width: 100%;
}

ul {
    display: flex;
    gap: 1rem; /* Ajuste o espaçamento entre os itens conforme necessário */
    list-style: none;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(11, 11, 11);
    margin-top: 70px; /* Ajuste conforme necessário para o espaçamento desejado */
}

.container {
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Adicione uma largura máxima para controle em telas grandes */
    margin: 0 0 0 -29%; /* Use porcentagem para ajustar a margem à esquerda responsivamente */
    text-align: center; /* Centralize o texto */
}
.namelogocontainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralize os itens na vertical */
    margin: 2rem 0;
}
.container .namelogocontainer {    
    width: 100%;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    margin: 2rem 0px;
}

.milton {
    font-size: 3.7rem;
    color: rgb(255, 255, 255);
}

.desenvolvedor {
    color: rgb(0, 173, 111);
    font-size: 2rem;
    margin-top: -1.5rem;
    position: relative;
    text-shadow: rgb(0, 173, 111) 0px 0px 10px;
    margin: 0 0 0 -16%; /* Use porcentagem para ajustar a margem à esquerda responsivamente */
}
.socials {
    display: flex;
    gap: 1rem;
    margin-top: 2rem; /* Adicione espaço acima das redes sociais */
    margin: 0 0 0 -39%; /* Use porcentagem para ajustar a margem à esquerda responsivamente */
    padding: 9px;
}
.icone {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    padding: 0.5rem;
          
}
.icone svg {
    fill: white; /* Garanta que as cores do ícone sejam brancas */
}
.icone:hover {
    background-color: rgb(0, 173, 111); /* Altera a cor de fundo ao passar o mouse */
}

.icone:hover svg {
    fill: rgb(11, 11, 11); /* Altera a cor do ícone ao passar o mouse */
}

.sobremim {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 11px;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 3rem 0px;
}

.estilocomentario {
    font-family: 'Courier New', monospace; /* Usando uma fonte monoespaçada para simular código */
    color: rgb(150, 150, 150); /* Cor mais clara para simular um comentário */
    font-style: italic; /* Itálico para indicar que é um comentário */
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.estilocomentario span {
    display: inline-block; /* Certifique-se de que as tags span estejam em linha */
    font-size: 3,9rem;
    color: rgb(0, 173, 111);
}
.estilocomentario span:first-child {
    margin-bottom: 5px; /* Ajuste conforme necessário para mover "--" para cima */
}

.estilocomentario span:last-child {
    margin-left: 5px; /* Ajuste conforme necessário para mover ">" para baixo */
    margin-bottom: 2px; /* Ajuste conforme necessário */
}
.about-text {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    max-width: 600px; /* Ajuste conforme necessário */
    margin: 1.5rem auto; /* Adicione margem para centralizar o texto */
}
/* Estilo para a seção de sobre mim */
#about {
    background-color: rgb(11, 11, 11);
    color: rgb(255, 255, 255);
    padding: 50px 0; /* Ajuste conforme necessário */
    text-align: center;
}
/* Estilo para o container .sobremim */
.sobremim {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
/* Estilo para o texto principal */
#about p {
    font-size: 1.2rem; /* Ajuste conforme necessário */
    max-width: 800px; /* Ajuste a largura máxima conforme necessário */
    margin: 0 auto;
    line-height: 1.6;
}
  
  /* Estilo para os subtítulos (Meu Percurso Acadêmico, Habilidades, etc.) */
#about h3 {
    font-size: 1.8rem; /* Ajuste conforme necessário */
    margin-bottom: 10px;
}
  
  /* Estilo para as listas (Habilidades, Projetos em Desenvolvimento, etc.) */
#about ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#about li {
    margin-bottom: 10px;
}
.about-text.collapsed {
    max-height: 150px; /* Ajuste conforme necessário */
    overflow: hidden;
}
  
#readMore {
    display: none; /* Certifique-se de que o conteúdo extra esteja inicialmente oculto */
}
.vermais {
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid rgb(0, 173, 111);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.vermais:hover {
    box-shadow: 0 0 5px 2px rgba(0, 173, 111, 0.5);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(11, 11, 11);
    padding: 7px; /* Ajuste conforme necessário */
    box-shadow: rgba(61, 61, 61, 0.25) 0px -4px 4px; /* Ajuste da sombra para se parecer com o cabeçalho */
   
}

/*:root {
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: hsla(0,0%,100%,.7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}
:host, :root {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
  }*/